
.title{
    margin: auto;
    padding: 20px;
    text-align: center;
}

.title h2{
    color: #C22019;
    font-weight: bold;
}

.title h4{
    font-style: italic;
    color: dimgrey;
}
/*============================*/


/*==========BENEFITS======*/
.benefits {
    margin: 3rem 0;
/*    padding: 20px;*/
}

.benefits img{
    width: 100%;
    margin: 3rem auto;
}


.benefits ul{
    list-style-image: url('images/arrow.png');
}

.benefits ul li {
    padding-bottom: 8px;
/*    font-size: 1.2em;*/
    color: dimgrey;
}

.benefits h4{
/*    font-weight: bold;*/
    padding: 0.5rem;
    text-align: justify;
    background: orange;
    border: solid 2px dimgrey;
}
/*===========================*/

/*===========CONTENT============*/
.content{
    background: #F0F0F0;
    margin: 3rem ;
    padding: 5rem 1rem; 
}

.content ul li{
    padding-bottom: 10px;
/*    font-size: 1.2em;*/
    list-style-image: url('images/checkmark.png');
}


/*=====PROJECTS=========*/
.projects{
    margin: 2rem auto;
    padding: 20px;
}
.projects h3{
    text-align: center;
    font-weight: bold;
}

.projects p{
    text-align: center;
    font-weight: bold;
}


/*====NATURE OF TRAINING====*/
.nature {
    padding: 3rem 0;
    margin: 2rem auto;
/*    border-radius: 10px;*/
    background: #EAEAEA;
}

.nature h3{
/*    font-weight: bold;*/
    text-align: center;
}

.nature p{
    text-align: justify;
    margin: 5px 20px;
    font-size: 1.3em;
}

/*====FAQS====*/
.faqs{
/*    padding: 20px;*/
/*    margin: 0px 30px;*/
}

.faqs h3{
    font-weight: bold;
    text-align: center;
    background: yellow;
    border: solid 2px grey;
    padding: 10px;
}

/*====INSTRUCTOR====*/
.instructor{
    padding: 20px;
}

.instructor h3{
    font-weight: bold;
    text-align: center;
}

.instructor p{
    font-size: 1.2em;
    line-height: 25px;
    padding-right: 30px;
    color: dimgrey;
    text-align: justify;
}

.instructor .img{
    text-align: center;
    margin-top: 10px;
}
.instructor img{
    max-height: 300px;
}

/*===FOOTER===*/
.footer{
    text-align: center;
    font-style: italic;
    color:dimgrey;
    padding: 5px 0 20px 0;
}